body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* -----header section styles------ */

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-section {
    width: 80%;
    height: 80vh;
    background-color: black;
    display: flex;
    border-radius: 20px;
}

.header-text {
    width: 50%;
    height: 100%;
    color: white;
    font-size: 30px;
    margin: 40px;
    padding: 20px;
}

.header-text p {
    font-size: 15px;
    margin-bottom: 20px;
}

.header-image {
    width: 50%;
    height: 100vh;
    margin-top: 30px;
    margin-bottom: 0;

}

.container img {
    width: 70%;
    height: 75vh;
    margin: 9px;
    padding: 0, 18px;

}

/* -----button styles----- */
.set-button {
    color: white;
    text-decoration: none;
    background-color: rgb(208, 71, 71);
    border: 1px solid rgb(208, 71, 71);
    border-radius: 7px;
    font-size: 18px;
    padding: 12px 25px;
}

.set-button i {
    margin-left: 15px;
}

main {
    width: 100%;
}

.second-section {
    width: 100%;
    display: flex;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-right: 60px;
}

.first-card {
    width: 30%;
    height: 250px;
    margin-left: 109px;
    margin-right: 10px;
    background-color: black;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.first-card a {
    text-decoration: none;
}

.first,
.second,
.third {
    color: gray;
    background-color: white;
    border-radius: 7px;
    font-size: 18px;
    padding: 8px;
    margin: 10px 15px;

}


.third {
    color: white;
    background-color: red;
}

.card {
    width: 320px;
    height: 360px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-left: 10px;
}

.card img {
    width: 320px;
}

.live-info p,
h3 {
    margin-bottom: 2px;
    padding: 3px;
    opacity: .8;
}

.live-info h3 {
    border: 1px solid black;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.live-info p {
    font-size: 20px;
}

.added-icon {
    display: flex;
    gap: 10px;

}

.live-details {
    color: gray;
    margin-left: 10px;
    margin-right: 20px;
    /* display: flex;
    justify-content: space-around; */
}

/*-- special button style-- */
.special-button {
    display: none;
}

footer {
    background-color: #161616;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    color: white;

}

.footer-header {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 10px;
}

footer hr {
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.5;
}

.link-setting {
    margin: 0;
}

.footer-text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.footer-text a {
    text-decoration: none;
    color: #ffff;
    margin-right: 50px;

}

.footer-link {
    color: tomato;
    font-size: 50px;

}

.footer-link a {
    margin-left: 30px;
}


/*---- second website style ---*/

.match-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.match-container {
    width: 250px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
}

.match {
    display: flex;
}

.match img {
    margin-left: 10px;
    margin-top: 30px;
    width: 90px;
}

#center {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.match-details h3 {
    line-height: 0px;
    margin-bottom: 10px;
}

#first-link a {
    background-color: red;
    color: white;

}

#added-card {
    width: 30%;
    height: 250px;
    margin-left: 109px;
    margin-right: 10px;
    background-color: black;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#added-card a {
    text-decoration: none;
}

.added-link {
    color: gray;
    background-color: white;
    border-radius: 7px;
    font-size: 18px;
    padding: 8px;
    margin: 10px 15px;

}

.added-first-link {
    color: gray;
    background-color: red;
    border-radius: 7px;
    font-size: 18px;
    padding: 8px;
    margin: 10px 15px;

}

#second-link a {
    background-color: white;
}



#text-setting {
    text-align: center;
}

/*-------------------
     Media Queries
---------------------- */

/*-------------------
     Mobile Device
---------------------- */

@media only screen and (max-width: 576px) {
    .container {
        margin-top: 30px;
        height: 30%;
    }

    .header-section {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;


    }

    .header-text,
    .header-image {
        width: 100%;
        height: 20%;
        font-size: 20px;
        margin: 5px 10px;
        padding: 0;
        text-align: center;
    }

    .second-section {
        margin-bottom: 50px;
        display: block;
    }

    .first-card,
    #added-card {
        background: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .first,
    .second,
    .third,
    .added-first-link,
    .added-link {
        width: 250px;
        height: 30px;
        color: gray;
        text-decoration: none;
        background-color: white;
        border-radius: 7px;
        border: 2px solid gray;
        font-size: 25px;
        text-align: center;
        padding: 6px;
        margin-left: 200px;
        margin-top: 10px;
    }

    .third,
    .added-first-link {
        color: white;
        background-color: red;
    }

    .cards,
    .match-section {
        width: 30%;
        display: grid;
        margin-left: 100px;
        margin-bottom: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 0;
    }

    .footer-header {
        width: 100%;
        height: 100%;
        font-size: 15px;
        background-color: #161616;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-link {
        display: flex;
        justify-content: center;
    }

}


/*-------------------
     Tablet Device
---------------------- */

@media only screen and (min-width: 577px) and (max-width: 992px) {

    /* .container {
        width: 100%;
    } */

    .header-section {
        width: 80%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 10px;
    }

    .first-card {
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #added-card {
        width: 35%;
        background: none;
        display: flex;
        text-decoration: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .first,
    .second,
    .third,
    .added-first-link,
    .added-link {
        width: 800px;
        height: 50px;
        color: gray;
        text-decoration: none;
        background-color: white;
        border-radius: 7px;
        border: 2px solid gray;
        font-size: 25px;
        text-align: center;
        padding: 8px;
        margin: 10px 15px;
    }

    .third,
    #first-link {
        color: white;
        background-color: red;
    }


    .second-section {
        background: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .cards,
    .match-section {
        width: 30%;
        display: grid;
        margin-left: 100px;
        margin-bottom: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 0;
    }

    .special-button {
        display: block;
        margin-left: 40%;
        padding: 0 30px;
    }

    .footer-header {
        width: 100%;
        font-size: 25px;
    }

    .footer-text,
    .footer-link {
        margin: 10px 40px;
        text-align: center;
    }

}